*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    background-color: white;
    font-size: 12px;
}

ul{
    list-style-type: none;
}

svg{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: 1fr 5fr;
}

.sidebar{
    padding: 2rem 1rem;
    background-color: #1992d4;
    color: white;
    grid-row: 1 / span 4;
    display:flex;
    flex-direction: column;
    gap: 3rem;
}

.sidebar svg{

    background: transparent;
    filter: invert(1);
}

.sidebar .logo {
    background-color: #1992d4;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo svg{
    width: 3rem;
    height: 3rem;
}

.sidebar .logo span{
    color: white;
    background-color: #1992d4;
    font-size: 2.5rem;
}

.sidebar .menu > ul, .sidebar .extra > ul{
    background-color: #1992d4;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sidebar li{
    background-color: #1992d4;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 1.6rem;
    padding: 0 1rem;
}

.sidebar li svg{
    margin-right: 0.3rem;
}

.main-content{
    grid-column: 2/ span 3;
}

.header{
    display: flex;
    flex-direction: column;
}

.header .top{
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    font-weight: 800;
    font-size: 1.5em;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 5rem;
}

.header .search{
    flex-grow: 2;
    display: flex;
    align-items: center;
    gap: 1em;
}

#searchbar{
    height: 2em;
    width: 100%;
    padding-left: 1em;
    border: 2px solid gray;
    border-radius: 2em;
}

.header .account{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 5%;
}

.header .bot{
    flex: 1;
    display: flex;
    align-items: center;
    padding-top: 1em;
    padding-left: 2rem;
    padding-bottom: 0.4rem;
}

#pfp-display{
    height: 5em;
    width: 5em;
    background: transparent;
}

.header .bot .name{
    flex: 1.5;
    display: flex;
    align-items: center;
    gap: 5%;
    font-weight: 400;
    font-size: 0.8em;
}

.header .bot .name .username{
    font-size: 2em;
    font-weight: 800;
}

.header .bot .actions{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.actions > button{
    font-size: 1.2em;
    padding: 0.5em 1.5em;
    border-radius: 1em;
    border: none;
    background-color: #1992d4;
    color: white;
}

.main-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#projects{
    grid-row: 1/3;
    padding: 1em 2em;
    background-color: #dce4e8;
}

#projects > h3{
    margin-bottom: 0.2em;
    background-color: #dce4e8;
    font-size: 1.5em;
    margin-bottom: 1%;
}

.project-wrapper{
    display: grid;
    height: 95%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-auto-rows: 1fr;
    gap: 2em;
    align-items: stretch;
    background-color: #dce4e8;
}

.main-content .project{
    border-radius: 0.8em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 6px 0px 0px 0px orange inset;
}

.card-content h2{
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

.card-content p{
    color: gray;
    font-size: 1em;
}

.project .logos{
    align-self: flex-end;
}

.project .logos svg{
    width: 2em;
    height: 2em;
}

#announce{
    padding-top: 1rem;
    padding-bottom: 0;
    background-color: #dce4e8;
}

#announce > h3{
    font-size: 1.5em;
    background-color: #dce4e8;
    margin-bottom: 2%;
}

#announce-card{
    padding: 5%;
    box-shadow: 2px 2px 2px 1px #949494;
    border-radius: 1em;
}

#announce-card > ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.announce-text{
    border-bottom: 2px solid lightgrey;
}

.announce-text p{
    font-size: 0.9em;
}

#trending{
    padding-top: 1rem;
    background-color: #dce4e8;
}

#trending h3{
    font-size: 1.5em;
    background-color: #dce4e8;
    margin-bottom: 2%;
}

#trending-card{
    padding: 2.5% 5%;
    height: 80%;
    box-shadow: 2px 2px 2px 1px #949494;
    border-radius: 1em;
}

#trending-card > ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#trending .trending-text{
    display: flex;
    align-items: center;
    gap: 5%;
}



.trending-text .uid{
    font-size: 1.2em;
    margin-bottom: 3%;
    font-weight: 500;
}

.trending-text .bio{
    font-size: 0.8em;
    color: gray;
}

#pfp{
    height: 3em;
    width: 3em;
}

.right{
    padding-right: 10%;
}




